
/********************************************************/
/** Padding */

.padding-bottom-64 {
  padding-bottom: 64px;
}

.padding-top-4 {
  padding-top: 4px;
}

.padding-top-8 {
  padding-top: 8px;
}

.padding-top-12 {
  padding-top: 12px;
}

.padding-top-16 {
  padding-top: 16px;
}
